/*----------
banner 區塊設定
------------*/
.banner {
  max-width: 100%;
  height: 787px;
  background: url(../images/home-header.png) no-repeat;
  background-position: center center;
  background-size: cover;
  .container {
    min-height: 100%; //內層的banner-note才有排板的依據
  }
  &-note {
    font-size: $h3-font-size; //36px  lh: 1.5
    color: $danger;
    &__title {
      font-size: $h1-font-size; //64px
      font-weight: bold;
    }
    &__link {
      display: inline-block;
      font-size: $h5-font-size;
      color: $white;
      padding: $space-3/2 $space-3;
      margin-top: $space-1;
      &:hover {
        @extend %btn-hover;
      }
    }
  }
  @include respond(ipad-portrait) {
    &-note {
      font-size: $h4-font-size; //24px  lh: 1.5
      &__title {
        font-size: $h2-font-size; //64px
      }
    }
  }
  @include respond(mobile) {
    background: url(../images/home-header-sm.png) no-repeat;
    background-position: center center;
    background-size: cover;
    height: 396px;
    &-note {
      font-size: $font-size-base;
      &__title {
        font-size: $h4-font-size;
      }
    }
  }
}
/*----------
section--service 區塊設定 
------------*/
.service {
  font-size: $h4-font-size; //24px
  font-weight: bold;
  color: $danger;
  &__title {
    font-size: $h2-font-size; //48px
    margin-bottom: 32.08px;
  }
  @include respond(mobile) {
    .container {
      padding-top: $space-10;
      padding-bottom: $space-10;
    }
    .service__title {
      font-size: $h4-font-size;
    }
  }
}

.feature {
  width: 100%;
  gap: $space * 1.5;
  &__item {
    width: 24%;
  }
  @include respond(ipad-portrait) {
    flex-wrap: wrap;
    &__item {
      width: 47%;
    }
    @include respond(mobile) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .feature-note {
    margin-bottom: $space-2;
    &__icon {
      width: 84px;
      margin-bottom: $space-6;
    }
    &__title {
      font-size: $h4-font-size;
    }

    &__text {
      font-size: $font-size-base;
      font-weight: 400;
      color: $dark;
    }
  }
}
/*----------
section series >區塊設定 
------------*/
.series {
  &__title {
    font-size: $h2-font-size;
    font-weight: bold;
    color: $danger;
    margin-bottom: $space-12;
  }
  @include respond(mobile) {
    &__title {
      font-size: $h4-font-size;
    }
  }
}

.classic {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: $space * 1.5;

  &__icon {
    width: 416px;
    margin-bottom: $space-2;
  }

  &__title {
    font-size: $h2-font-size;
    font-weight: 900;
    font-style: italic;
    color: $primary;
  }
  @include respond(ipad-portrait) {
    &__icon {
      width: 336px;
    }
  }
  @include respond(mobile) {
    &__title {
      font-size: $h4-font-size;
      margin-bottom: $space-6;
    }
    &__icon {
      width: 348px;
    }
  }
}
/*----------
 section--collaboration 區塊區塊設定 
-----------*/
.collaboration {
  background: url(../images/index-bg.png) no-repeat;
  background-position: center center;
  background-size: cover;
  &__title {
    font-size: $h2-font-size;
    font-weight: bold;
    color: $white;
    margin-bottom: $space-12;
  }

  .crossover {
    &__img--sm {
      display: none;
    }
    &__title {
      font-size: $h2-font-size;
      font-weight: 900;
      font-style: italic;
      color: $primary;
      background-color: $white;
      padding-top: $space-2;
      padding-bottom: $space-2;
    }
  }

  @include respond(ipad-portrait) {
    background: url(../images/index-bg-sm.png) no-repeat;
    background-position: left top;
    .crossover {
      flex-wrap: wrap;
      gap: $space * 1.5;
      width: 100%;
      &__item {
        width: 50%;
      }
    }
  }

  @include respond(mobile) {
    background: url(../images/index-bg-md.png) no-repeat;
    .container {
      padding-top: $space-10;
      padding-bottom: $space-10;
    }
    &__title {
      font-size: $h4-font-size;
      margin-bottom: $space-6;
    }
    .crossover {
      &__img {
        display: none;
      }
      &__img--sm {
        display: inline-block;
      }
      &__title {
        font-size: $h4-font-size;
      }
    }
  }
}
/*----------
 section--review  區塊區塊設定 
------------*/
.review {
  &__title {
    font-size: $h2-font-size;
    color: $danger;
    font-weight: bold;
    margin-bottom: $space-12;
  }
  .customer-card {
    width: 100%;
    gap: $space * 1.5;
    align-content: flex-start;
    &__item {
      width: 23%;
      border-radius: 4px;
    }
    &__img {
      object-fit: cover;
    }
  }
  .customer-note {
    box-shadow: 0px 2px 6px $shadow-gray;
    padding: $space-4;
    h4 {
      font-size: $font-size-base;
      font-weight: 500;
      margin-bottom: $space-2;
    }
    &__text {
      font-weight: 400;
      padding-bottom: $space-16;
    }
    small {
      font-size: $font-size-sm;
      color: $dark-gray;
    }
  }
  @include respond(ipad-portrait) {
    .customer-card {
      flex-wrap: wrap;
      &__item {
        width: 48%;
      }
    }
  }
  @include respond(mobile) {
    .container {
      padding-top: $space-10;
      padding-bottom: $space-10;
    }
    &__title {
      font-size: $h4-font-size;
      margin-bottom: $space-6;
    }
    .customer-card {
      gap: $space;
      &__item {
        width: 96%;
      }
    }
  }
}
/*----------
 section--response  區塊區塊設定 
------------*/
.response {
  &__title {
    font-size: $h2-font-size;
    font-weight: bold;
    color: $danger;
    margin-bottom: $space-12;
  }
  &-form {
    width: 60%;
    margin: 0 auto;
    &__sub {
      font-size: $font-size-base;
      margin-bottom: $space-6;
    }
  }

  .input-box {
    margin-bottom: $space-4;
    &__text {
      display: block;
      width: 100%;
      height: 36px;
      margin-top: $space-2;
      padding-top: $space * 1.5;
      padding-bottom: $space * 1.5;
      padding-left: $space-3;
    }
  }
  .message-textarea__text {
    resize: none;
    height: 136px;
  }
  .agree-box {
    margin-bottom: $space-12;
    &__text {
      width: 24px;
      height: 24px;
      margin-right: $space-1;
      border: 2px solid $dark;
    }
  }
  .btn {
    display: block;
    width: 60%;
    font-weight: 700;
    color: $white;
    padding: $space-3 0;
    &:hover {
      @extend %btn-hover;
    }
    &:active {
      background-color: rgba(146, 30, 92, 0.6);
    }
  }
  @include respond(ipad-portrait) {
    &__title {
      margin-bottom: $space-6;
    }
    &-form {
      max-width: 576px;
    }
  }
  @include respond(mobile) {
    .container {
      padding-top: $space-10;
      padding-bottom: $space-10;
    }
    &__title {
      font-size: $h4-font-size;
    }
    .agree-box {
      margin-bottom: $space-6;
    }
    .btn {
      width: 100%;
    }
  }
}
