/*----------
***************
banner 區塊設定
***************
------------*/

.banner {
  max-width: 100%;
  height: 787px;
  background: url(../images/home-header.png) no-repeat;
  background-position: center center;
  background-size: cover;

  .container {
    height: 100%; //內層的ad-area才有排板的依據
  }

  .ad-area {
    font-family: $font-noto;
    font-size: $h3-font-size; //36px  lh: 1.5
    color: $danger;

    .title {
      font-size: $h1-font-size; //64px
      font-weight: bold;
    }

    .buy-link {
      display: inline-block;
      font-size: $h5-font-size;
      background-color: $primary;
      color: $white;
      padding: 6px 12px;
      margin-top: 4px;

      &:hover {
        @extend %btn-hover;
      }
    }
  }
  @include pad {
    background: url(../images/home-header-sm.png) no-repeat;
    background-size: cover;
  }

  @include mobile {
    .ad-area {
      font-size: $font-size-base;

      .title {
        font-size: $h4-font-size;
      }
    }
  }
}

/*----------
***************
section feature 區塊區塊設定 
須在重構一下icon的大小
***************
------------*/
.feature {
  font-family: $font-noto;
  font-size: $h4-font-size; //24px
  font-weight: bold;
  color: $danger;
  background: $secondary;

  .container {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .feature-title {
    font-size: $h2-font-size; //48px
    margin-bottom: 32.08px;
  }

  .feature-lists {
    width: 100%;
    gap: 24px;
  }

  .feature-item {
    width: 25%;
  }

  .item-img {
    width: 83.83px;
    height: 83.83px;
    margin-bottom: 24.33px;
  }

  .item-icon {
    margin-bottom: 8px;
  }

  .item-title {
    font-size: $h4-font-size;
  }

  .item-text {
    font-size: $font-size-base;
    font-weight: 400;
    color: $dark;
    text-align: left;
  }

  @include pad {
    .feature-lists {
      flex-wrap: wrap;
    }

    .feature-item {
      width: 47%;
    }
  }

  @include mobile {
    .container {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .feature-title {
      font-size: $h4-font-size;
    }
    .feature-lists {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

/*----------
***************
section classic 區塊設定 
***************
------------*/
.classic {
  &-title {
    font-family: $font-noto;
    font-size: $h2-font-size;
    font-weight: bold;
    color: $danger;
    margin-bottom: 48px;
  }

  &-lists {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;

    .list-icon {
      width: 416px;
      height: 416px;
      margin-bottom: 8px;
    }

    .list-name {
      font-family: $font-roboto;
      font-size: $h2-font-size;
      font-weight: 900;
      font-style: italic;
      color: $primary;
      text-align: center;
    }
  }

  .container {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include pad {
    .list-icon {
      width: 336px;
      height: 336px;
    }
  }

  @include mobile {
    &-title {
      font-size: $h4-font-size;
      margin-bottom: 24px;
    }

    .list-icon {
      width: 348px;
      height: 348px;
    }

    .container {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
}

/*----------
***************
 section--union 區塊區塊設定 
***************b
------------*/
.union {
  background: url(../images/index-bg.png) no-repeat;
  background-position: center center;
  background-size: cover;

  &-title {
    font-family: $font-noto;
    font-size: $h2-font-size;
    line-height: 1.5;
    font-weight: bold;
    color: $white;
    margin-bottom: 48px;
  }

  &-lists {
    .union-img {
      width: 648px;
      height: 240px;
    }
    .union-img-sm {
      display: none;
      width: 348px;
      height: 240px;
    }
    .list-name {
      font-family: $font-roboto;
      font-size: $h2-font-size;
      line-height: 1.5;
      font-weight: 900;
      font-style: italic;
      color: $primary;
      text-align: center;
      background-color: $white;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }

  .container {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include pad {
    background: url(../images/index-bg-sm.png) no-repeat;
    background-position: left top;
    &-lists {
      flex-wrap: wrap;
      gap: 24px;
      width: 100%;

      &-item {
        width: 50%;
      }
      .union-img {
        width: 696px;
      }
    }
  }

  @include mobile {
    background: url(../images/index-bg-md.png) no-repeat;

    &-title {
      font-size: $h4-font-size;
      margin-bottom: 24px;
    }

    &-lists {
      .union-img {
        display: none;
      }
      .union-img-sm {
        display: inline-block;
      }
    }
    .container {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
}

/*----------
***************
 section--review  區塊區塊設定 
***************b
------------*/
.review {
  &-title {
    font-family: $font-noto;
    font-size: $h2-font-size;
    color: $danger;
    font-weight: bold;
    margin-bottom: 48px;
  }
  &-lists {
    gap: 24px;

    &_item {
      width: 25%;
      // border: 1px solid $light-gray;
      border-radius: 4px;
    }
    &-img {
      object-fit: cover;
    }
  }
  &-content {
    box-shadow: 0px 2px 6px $shadow-gray;
    padding: 16px;

    span {
      font-size: $font-size-base;
      font-weight: 500;
      margin-bottom: 8px;
    }

    p {
      font-weight: 400;
      padding-bottom: 72px;
    }
    small {
      font-size: 14px;
      color: $dark-gray;
    }
  }
  .container {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include pad {
    &-lists {
      flex-wrap: wrap;
      &_item {
        width: 48%;
      }
    }
  }

  @include mobile {
    &-title {
      font-size: $h4-font-size;
      margin-bottom: 24px;
    }
    &-lists {
      gap: 16px;
      &_item {
        width: 96%;
      }
    }
    .container {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
}

/*----------
***************
 section--response  區塊區塊設定 
***************
------------*/
.response {
  background-color: $secondary;
  &-title {
    font-size: $h2-font-size;
    font-weight: bold;
    color: $danger;
    margin-bottom: 48px;
  }

  &-form {
    max-width: 636px;
    margin: 0 auto;
  }

  &-description {
    font-size: $font-size-base;
    margin-bottom: 24px;
  }

  .input-box {
    margin-bottom: 16px;
    .form-control {
      display: block;
      width: 100%;
      height: 36px;
      margin-top: 8px;
      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 12px;
    }
  }
  .message-textarea {
    margin-bottom: 16px;
    .form-control {
      resize: none;
      height: 136px;
    }
  }
  .agree-box {
    margin-bottom: 48px;
    .agree-text {
      width: 24px;
      height: 24px;
      margin-right: 4px;
      border: 2px solid $dark;
    }
  }
  .btn {
    font-size: $font-size-base;
    line-height: 24px;
    font-weight: 900;
    color: $white;
    background-color: $primary;
    padding: 14px 174px;
    &:hover {
      @extend %btn-hover;
    }
    &:active {
      background-color: rgb(146, 30, 92);
    }
  }

  .container {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include pad {
    &-title {
      margin-bottom: 24px;
    }

    &-form {
      max-width: 576px;
    }

    @include mobile {
      &-title {
        font-size: $h4-font-size;
      }

      &-form {
        min-width: 348px;
      }
      .agree-box {
        margin-bottom: 24px;
      }
      .btn {
        width: 100%;
      }
      .container {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }
  }
}
