/*----------
***************
banner 區塊設定
***************
------------*/

.banner {
  max-width: 100%;
  height: 787px;
  background: url(../images/home-header.png) no-repeat;
  background-position: center center;
  background-size: cover;

  .container {
    height: 100%; //內層的ad-area才有排板的依據
  }

  .ad-area {
    font-family: $font-noto;
    font-size: $h3-font-size; //36px  lh: 1.5
    color: $danger;

    .title {
      font-size: $h1-font-size; //64px
      font-weight: bold;
    }

    .buy-link {
      display: inline-block;
      font-size: $h5-font-size;
      background-color: $primary;
      color: $white;
      padding: 6px 12px;
      margin-top: 4px;

      &:hover {
        @extend %btn-hover;
      }
    }
  }
  @include pad {
    background: url(../images/home-header-sm.png) no-repeat;
    background-size: cover;
  }

  @include mobile {
    .ad-area {
      font-size: $font-size-base;

      .title {
        font-size: $h4-font-size;
      }
    }
  }
}

/*----------
***************
section feature 區塊區塊設定 
須在重構一下icon的大小
***************
------------*/
.feature {
  font-family: $font-noto;
  font-size: $h4-font-size; //24px
  font-weight: bold;
  color: $danger;
  background: $secondary;

  .container {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .feature-title {
    font-size: $h2-font-size; //48px
    margin-bottom: 32.08px;
  }

  .feature-lists {
    width: 100%;
    gap: 24px;
  }

  .feature-item {
    width: 25%;
  }

  .item-img {
    width: 83.83px;
    height: 83.83px;
    margin-bottom: 24.33px;
  }

  .item-icon {
    margin-bottom: 8px;
  }

  .item-title {
    font-size: $h4-font-size;
  }

  .item-text {
    font-size: $font-size-base;
    font-weight: 400;
    color: $dark;
    text-align: left;
  }

  @include pad {
    .feature-lists {
      flex-wrap: wrap;
    }

    .feature-item {
      width: 47%;
    }
  }

  @include mobile {
    .container {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .feature-title {
      font-size: $h4-font-size;
    }
    .feature-lists {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
