/*----------
header 區塊設定 
------------*/
.header {
  .headerInner {
    padding-top: $space-4; //4的倍數
    padding-bottom: $space-4;
  }
  .logo {
    width: 80px;
    height: 48px;
    background: url(../images/logo-white.png) no-repeat;
    background-size: cover;
    @include hide-text;
  }
  @include respond(ipad-portrait) {
    //header用767作斷點
    .headerInner {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 0;
    }
    .container {
      padding-right: 0;
      padding-left: 0;
    }
    .logo {
      max-width: 100%;
      margin-bottom: $space-4;
    }
  }
}
.menu {
  &__link {
    font-size: $h5-font-size; //20px
    color: $white;
    &:hover {
      @extend %btn-hover;
    }
  }
  @include respond(ipad-portrait) {
    gap: 0px;
    width: 100%;
    justify-content: center;
    align-items: center;
    &__item {
      margin: 0;
      width: 50%; //兩欄
      outline: 1px solid $white;
    }
    &__link {
      display: block;
      font-size: $font-size-base; //16px
      padding-top: $space-3;
      padding-bottom: $space-3;
    }
  }
  @include respond(mobile) {
    &__link {
      font-size: $font-size-sm; //14px
      padding-top: $space-1;
      padding-bottom: $space-1;
    }
  }
}
/*----------
footer 區塊設定
------------*/
.footerInner {
  padding-top: $space-15;
  .footer-note {
    .f-menu {
      &__link {
        color: $white;
        padding: $space-1 0;
        &:hover {
          @extend %btn-hover;
        }
      }
    }
  }
  .hotline {
    padding-top: $space-9;
    &__link {
      color: $white;
      font-size: $h3-font-size; //36px
      line-height: 1.5;
      &:hover {
        @extend %btn-hover;
      }
      .material-symbols-outlined {
        font-size: 36px;
        margin-right: 22px;
      }
    }
  }
  @include respond(ipad-landscape) {
    .hotline {
      padding-top: $space-8;
    }
  }
  @include respond(ipad-portrait) {
    padding-top: $space-16; //60px
    .f-menu {
      gap: $space-6;
    }
    .hotline {
      padding-top: $space-10;
      &__link {
        font-size: $h4-font-size;
        .material-symbols-outlined {
          font-size: 28px;
          margin-right: 11px;
        }
      }
    }
  }
  @include respond(mobile) {
    padding-top: $space-6; //24px
    .footer-note {
      .f-menu {
        display: none;
      }
    }
    .hotline {
      padding-top: 0px;
      &__link {
        font-size: $font-size-base; //16px
        .material-symbols-outlined {
          font-size: 20px;
          margin-right: 11px;
        }
      }
    }
  }
}
.media-lists {
  &__link {
    &:hover {
      @extend %btn-hover;
    }
  }
  &__icon {
    width: 48px;
  }
  @include respond(ipad-landscape) {
    gap: $space-4;
    &__icon {
      width: 40px;
    }
  }
  @include respond(mobile) {
    gap: $space-2;
    &__icon {
      width: 24px;
    }
  }
}
.copyrightInner {
  margin-top: $space-8;
  padding-top: $space-8;
  padding-bottom: $space-8;
  border-top: 1px solid $white;
  .copyright-note {
    color: $white;
  }
  .policy {
    gap: $space-12; //48px
    &__link {
      color: $white;
      font-size: $font-size-sm;
      &:hover {
        @extend %btn-hover;
      }
    }
  }
  @include respond(mobile) {
    margin-top: $space-6; //24px
    padding-top: $space-4;
    padding-bottom: $space-6;
    .copyright-note {
      width: 100%;
      margin-bottom: $space-2;
    }
    .policy {
      gap: $space-2;
      &__item {
        width: 100%;
        &__link {
          font-size: $font-size-base;
        }
      }
    }
  }
}
