.location-detail {
  .container {
    padding-top: 96px;
    padding-bottom: 80px;
  }
  &__title {
    font-size: $h2-font-size;
    font-weight: 900;
    margin-bottom: 32px;
    padding-left: 16px;
    border-left: 8px solid $border-left;
  }
  &__options {
    font-size: $h4-font-size;
    line-height: 36px;
    font-weight: 400;
    margin-right: 16px;
  }
  &__selection {
    width: 304px;
    height: 38px;
    border: 1px solid #ced4da;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    margin-bottom: 40px;
  }
  .location-box {
    flex-wrap: wrap;
    .location-card {
      width: 39%;
      &__title {
        font-size: $h4-font-size;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 24px;
        border: 1px solid #00000020;
      }
      &__cardbody {
        padding: 16px;
        border: 1px solid #00000020;
        .material-symbols-outlined {
          font-size: 18px;
          margin-right: 11px;
        }
      }
    }
    .location-map {
      width: 59%;
      height: 414px;
    }
  }
  @include respond(ipad-landscape) {
    .location-box {
      flex-direction: column;
      .location-card {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        gap: 24px;
        margin-bottom: 24px;
        &-picblock {
          width: 48%;
        }
        &-text {
          width: 48%;
        }
      }
      .location-map {
        width: 100%;
      }
    }
  }
  @include respond(ipad-portrait) {
    .container {
      padding-top: 80px;
      padding-bottom: 80px;
    }
    .location-box {
      .location-card {
        &-picblock {
          width: 100%;
        }
        &-text {
          width: 100%;
        }
      }
      .location-map {
        width: 100%;
      }
    }
  }
  @include respond(mobile) {
    .container {
      padding-top: 40px;
      padding-bottom: 64px;
    }
  }
}
