@mixin respond($breakpoint) {
  @if $breakpoint == ipad-landscape {
    @media (max-width: 992px) {
      @content;
    }
  }
  @if $breakpoint == ipad-portrait {
    @media (max-width: 767px) {
      @content;
    }
  }
  @if $breakpoint == mobile {
    @media (max-width: 576px) {
      @content;
    }
  }
}

@mixin hide-text {
  text-indent: 101%; //圖片取代文字
  white-space: nowrap;
  overflow: hidden;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;

  @include respond(ipad-landscape) {
    max-width: 960px;
  }

  @include respond(ipad-portrait) {
    max-width: 720px;
  }

  @include respond(mobile) {
    max-width: 540px;
  }
}

//@extend 做樣式設定
%btn-hover {
  background: lighten($primary, 30%); //將紅色調亮30%;
  border-radius: 30%;
  transition: 0.3s;
}
