.storelocations {
  .container {
    padding-top: $space-24;
    padding-bottom: $space-20;
  }
  &__title {
    font-size: $h2-font-size;
    font-weight: 900;
    margin-bottom: $space-8;
    padding-left: $space-4;
    border-left: 8px solid $border-left;
  }
  &__options {
    font-size: $h4-font-size;
    font-weight: 400;
    margin-right: $space-4;
  }
  &__select {
    width: 40%;
    height: 38px;
    border: 1px solid #ced4da;
    padding-top: $space-1 * 1.5;
    padding-bottom: $space-1 * 1.5;
    padding-left: $space-3;
    margin-bottom: $space-10;
  }
  .store-card {
    width: 100%;
    gap: 24px;
    &__item {
      width: calc((100% - 48px) / 3);
    }
    &__title {
      font-size: $h4-font-size;
      padding-top: $space-2;
      padding-bottom: $space-2;
      padding-left: $space-6;
      border: 1px solid #00000020;
    }
    &__detail {
      padding-top: $space-4;
      padding-bottom: $space-4;
      padding-left: $space-6;
      border: 1px solid #00000020;
      .material-symbols-outlined {
        font-size: 18px;
        margin-right: 11px;
      }
    }
    &__item--btn {
      width: 100%;
      margin: 0 auto;
      background-color: $dark;
      padding-top: $space-4;
      padding-bottom: $space-4;
      a {
        font-size: 19px;
        line-height: 1.4;
        color: $white;
        &:hover {
          background-color: lighten($dark, 40%);
        }
      }
    }
  }

  @include respond(ipad-portrait) {
    .container {
      padding-top: $space-20;
      padding-bottom: $space-20;
    }
    .store-card {
      &__item {
        width: calc((100% - 48px) / 2);
      }
    }
  }

  @include respond(mobile) {
    .container {
      padding-top: $space-10;
      padding-bottom: $space-16;
    }
    &__title {
      font-size: $h4-font-size;
      margin-bottom: $space-6;
    }
    &__options {
      font-size: $font-size-base;
      line-height: 1.5;
      margin-right: $space-2;
    }
    &__select {
      width: 30%;
      margin-bottom: $space-6;
    }
    .store-card {
      &__item {
        width: 100%;
      }
    }
  }
}
