@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;500;700&display=swap");
/*放入所有變數相關的設定*/
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px; }
  @media (max-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (max-width: 767px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 576px) {
    .container {
      max-width: 540px; } }

.menu__link:hover, .footerInner .footer-note .f-menu__link:hover, .footerInner .hotline__link:hover, .media-lists__link:hover, .copyrightInner .policy__link:hover, .banner-note__link:hover, .response .btn:hover {
  background: #fe4c46;
  border-radius: 30%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*-----全域設定-----*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

a {
  display: block;
  text-decoration: none; }

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px; }

body {
  font-family: "Roboto", sans-serif, "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #000; }

/*-----layout主色系設定------*/
.bg--primary {
  background-color: #aa0601; }

.bg--secondary {
  background-color: #fbf2f2; }

/*------文字置中設定-----*/
.text-center {
  text-align: center; }

.text-r {
  text-align: right; }

/*------文字大小 與行高 設定-----*/
h1,
.h1 {
  font-size: 4rem; }

h2,
.h2 {
  font-size: 3rem; }

h3,
.h3 {
  font-size: 2.25rem; }

h4,
.h4 {
  font-size: 1.5rem; }

h5,
.h5 {
  font-size: 1.25rem; }

.text-sm {
  font-size: 0.875rem; }

/*-----flex通用設定-----*/
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.jc-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.jc-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.jc-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.ai-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.ai-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

/*-------flex:gap設定----------*/
.gap-1 {
  gap: 1rem; }

.gap-2 {
  gap: 2rem; }

.gap-3 {
  gap: 3rem; }

.gap-4 {
  gap: 4rem; }

/*-------padding margin設定----------*/
.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem; }

.my-2 {
  margin-top: 7px;
  margin-bottom: 7px; }

/*----------
header 區塊設定 
------------*/
.header .headerInner {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.header .logo {
  width: 80px;
  height: 48px;
  background: url(../images/logo-white.png) no-repeat;
  background-size: cover;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden; }

@media (max-width: 767px) {
  .header .headerInner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0; }
  .header .container {
    padding-right: 0;
    padding-left: 0; }
  .header .logo {
    max-width: 100%;
    margin-bottom: 1rem; } }

.menu__link {
  font-size: 1.25rem;
  color: #fff; }

@media (max-width: 767px) {
  .menu {
    gap: 0px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .menu__item {
      margin: 0;
      width: 50%;
      outline: 1px solid #fff; }
    .menu__link {
      display: block;
      font-size: 1rem;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem; } }

@media (max-width: 576px) {
  .menu__link {
    font-size: 0.875rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem; } }

/*----------
footer 區塊設定
------------*/
.footerInner {
  padding-top: 3.75rem; }
  .footerInner .footer-note .f-menu__link {
    color: #fff;
    padding: 0.25rem 0; }
  .footerInner .hotline {
    padding-top: 2.25rem; }
    .footerInner .hotline__link {
      color: #fff;
      font-size: 2.25rem;
      line-height: 1.5; }
      .footerInner .hotline__link .material-symbols-outlined {
        font-size: 36px;
        margin-right: 22px; }
  @media (max-width: 992px) {
    .footerInner .hotline {
      padding-top: 2rem; } }
  @media (max-width: 767px) {
    .footerInner {
      padding-top: 4rem; }
      .footerInner .f-menu {
        gap: 1.5rem; }
      .footerInner .hotline {
        padding-top: 2.5rem; }
        .footerInner .hotline__link {
          font-size: 1.5rem; }
          .footerInner .hotline__link .material-symbols-outlined {
            font-size: 28px;
            margin-right: 11px; } }
  @media (max-width: 576px) {
    .footerInner {
      padding-top: 1.5rem; }
      .footerInner .footer-note .f-menu {
        display: none; }
      .footerInner .hotline {
        padding-top: 0px; }
        .footerInner .hotline__link {
          font-size: 1rem; }
          .footerInner .hotline__link .material-symbols-outlined {
            font-size: 20px;
            margin-right: 11px; } }

.media-lists__icon {
  width: 48px; }

@media (max-width: 992px) {
  .media-lists {
    gap: 1rem; }
    .media-lists__icon {
      width: 40px; } }

@media (max-width: 576px) {
  .media-lists {
    gap: 0.5rem; }
    .media-lists__icon {
      width: 24px; } }

.copyrightInner {
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #fff; }
  .copyrightInner .copyright-note {
    color: #fff; }
  .copyrightInner .policy {
    gap: 3rem; }
    .copyrightInner .policy__link {
      color: #fff;
      font-size: 0.875rem; }
  @media (max-width: 576px) {
    .copyrightInner {
      margin-top: 1.5rem;
      padding-top: 1rem;
      padding-bottom: 1.5rem; }
      .copyrightInner .copyright-note {
        width: 100%;
        margin-bottom: 0.5rem; }
      .copyrightInner .policy {
        gap: 0.5rem; }
        .copyrightInner .policy__item {
          width: 100%; }
          .copyrightInner .policy__item__link {
            font-size: 1rem; } }

/*----------
banner 區塊設定
------------*/
.banner {
  max-width: 100%;
  height: 787px;
  background: url(../images/home-header.png) no-repeat;
  background-position: center center;
  background-size: cover; }
  .banner .container {
    min-height: 100%; }
  .banner-note {
    font-size: 2.25rem;
    color: #650300; }
    .banner-note__title {
      font-size: 4rem;
      font-weight: bold; }
    .banner-note__link {
      display: inline-block;
      font-size: 1.25rem;
      color: #fff;
      padding: 0.375rem 0.75rem;
      margin-top: 0.25rem; }
  @media (max-width: 767px) {
    .banner-note {
      font-size: 1.5rem; }
      .banner-note__title {
        font-size: 3rem; } }
  @media (max-width: 576px) {
    .banner {
      background: url(../images/home-header-sm.png) no-repeat;
      background-position: center center;
      background-size: cover;
      height: 396px; }
      .banner-note {
        font-size: 1rem; }
        .banner-note__title {
          font-size: 1.5rem; } }

/*----------
section--service 區塊設定 
------------*/
.service {
  font-size: 1.5rem;
  font-weight: bold;
  color: #650300; }
  .service__title {
    font-size: 3rem;
    margin-bottom: 32.08px; }
  @media (max-width: 576px) {
    .service .container {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem; }
    .service .service__title {
      font-size: 1.5rem; } }

.feature {
  width: 100%;
  gap: 1.5rem; }
  .feature__item {
    width: 24%; }
  @media (max-width: 767px) {
    .feature {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .feature__item {
        width: 47%; } }
  @media (max-width: 767px) and (max-width: 576px) {
    .feature {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .feature .feature-note {
    margin-bottom: 0.5rem; }
    .feature .feature-note__icon {
      width: 84px;
      margin-bottom: 1.5rem; }
    .feature .feature-note__title {
      font-size: 1.5rem; }
    .feature .feature-note__text {
      font-size: 1rem;
      font-weight: 400;
      color: #000; }

/*----------
section series >區塊設定 
------------*/
.series__title {
  font-size: 3rem;
  font-weight: bold;
  color: #650300;
  margin-bottom: 3rem; }

@media (max-width: 576px) {
  .series__title {
    font-size: 1.5rem; } }

.classic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem; }
  .classic__icon {
    width: 416px;
    margin-bottom: 0.5rem; }
  .classic__title {
    font-size: 3rem;
    font-weight: 900;
    font-style: italic;
    color: #aa0601; }
  @media (max-width: 767px) {
    .classic__icon {
      width: 336px; } }
  @media (max-width: 576px) {
    .classic__title {
      font-size: 1.5rem;
      margin-bottom: 1.5rem; }
    .classic__icon {
      width: 348px; } }

/*----------
 section--collaboration 區塊區塊設定 
-----------*/
.collaboration {
  background: url(../images/index-bg.png) no-repeat;
  background-position: center center;
  background-size: cover; }
  .collaboration__title {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 3rem; }
  .collaboration .crossover__img--sm {
    display: none; }
  .collaboration .crossover__title {
    font-size: 3rem;
    font-weight: 900;
    font-style: italic;
    color: #aa0601;
    background-color: #fff;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
  @media (max-width: 767px) {
    .collaboration {
      background: url(../images/index-bg-sm.png) no-repeat;
      background-position: left top; }
      .collaboration .crossover {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        gap: 1.5rem;
        width: 100%; }
        .collaboration .crossover__item {
          width: 50%; } }
  @media (max-width: 576px) {
    .collaboration {
      background: url(../images/index-bg-md.png) no-repeat; }
      .collaboration .container {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem; }
      .collaboration__title {
        font-size: 1.5rem;
        margin-bottom: 1.5rem; }
      .collaboration .crossover__img {
        display: none; }
      .collaboration .crossover__img--sm {
        display: inline-block; }
      .collaboration .crossover__title {
        font-size: 1.5rem; } }

/*----------
 section--review  區塊區塊設定 
------------*/
.review__title {
  font-size: 3rem;
  color: #650300;
  font-weight: bold;
  margin-bottom: 3rem; }

.review .customer-card {
  width: 100%;
  gap: 1.5rem;
  -ms-flex-line-pack: start;
      align-content: flex-start; }
  .review .customer-card__item {
    width: 23%;
    border-radius: 4px; }
  .review .customer-card__img {
    -o-object-fit: cover;
       object-fit: cover; }

.review .customer-note {
  -webkit-box-shadow: 0px 2px 6px #00000029;
          box-shadow: 0px 2px 6px #00000029;
  padding: 1rem; }
  .review .customer-note h4 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem; }
  .review .customer-note__text {
    font-weight: 400;
    padding-bottom: 4rem; }
  .review .customer-note small {
    font-size: 0.875rem;
    color: #707070; }

@media (max-width: 767px) {
  .review .customer-card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .review .customer-card__item {
      width: 48%; } }

@media (max-width: 576px) {
  .review .container {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem; }
  .review__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem; }
  .review .customer-card {
    gap: 1rem; }
    .review .customer-card__item {
      width: 96%; } }

/*----------
 section--response  區塊區塊設定 
------------*/
.response__title {
  font-size: 3rem;
  font-weight: bold;
  color: #650300;
  margin-bottom: 3rem; }

.response-form {
  width: 60%;
  margin: 0 auto; }
  .response-form__sub {
    font-size: 1rem;
    margin-bottom: 1.5rem; }

.response .input-box {
  margin-bottom: 1rem; }
  .response .input-box__text {
    display: block;
    width: 100%;
    height: 36px;
    margin-top: 0.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 0.75rem; }

.response .message-textarea__text {
  resize: none;
  height: 136px; }

.response .agree-box {
  margin-bottom: 3rem; }
  .response .agree-box__text {
    width: 24px;
    height: 24px;
    margin-right: 0.25rem;
    border: 2px solid #000; }

.response .btn {
  display: block;
  width: 60%;
  font-weight: 700;
  color: #fff;
  padding: 0.75rem 0; }
  .response .btn:active {
    background-color: rgba(146, 30, 92, 0.6); }

@media (max-width: 767px) {
  .response__title {
    margin-bottom: 1.5rem; }
  .response-form {
    max-width: 576px; } }

@media (max-width: 576px) {
  .response .container {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem; }
  .response__title {
    font-size: 1.5rem; }
  .response .agree-box {
    margin-bottom: 1.5rem; }
  .response .btn {
    width: 100%; } }

.storelocations .container {
  padding-top: 6rem;
  padding-bottom: 5rem; }

.storelocations__title {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 2rem;
  padding-left: 1rem;
  border-left: 8px solid #9f1213; }

.storelocations__options {
  font-size: 1.5rem;
  font-weight: 400;
  margin-right: 1rem; }

.storelocations__select {
  width: 40%;
  height: 38px;
  border: 1px solid #ced4da;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.75rem;
  margin-bottom: 2.5rem; }

.storelocations .store-card {
  width: 100%;
  gap: 24px; }
  .storelocations .store-card__item {
    width: calc((100% - 48px) / 3); }
  .storelocations .store-card__title {
    font-size: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    border: 1px solid #00000020; }
  .storelocations .store-card__detail {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    border: 1px solid #00000020; }
    .storelocations .store-card__detail .material-symbols-outlined {
      font-size: 18px;
      margin-right: 11px; }
  .storelocations .store-card__item--btn {
    width: 100%;
    margin: 0 auto;
    background-color: #000;
    padding-top: 1rem;
    padding-bottom: 1rem; }
    .storelocations .store-card__item--btn a {
      font-size: 19px;
      line-height: 1.4;
      color: #fff; }
      .storelocations .store-card__item--btn a:hover {
        background-color: #666666; }

@media (max-width: 767px) {
  .storelocations .container {
    padding-top: 5rem;
    padding-bottom: 5rem; }
  .storelocations .store-card__item {
    width: calc((100% - 48px) / 2); } }

@media (max-width: 576px) {
  .storelocations .container {
    padding-top: 2.5rem;
    padding-bottom: 4rem; }
  .storelocations__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem; }
  .storelocations__options {
    font-size: 1rem;
    line-height: 1.5;
    margin-right: 0.5rem; }
  .storelocations__select {
    width: 30%;
    margin-bottom: 1.5rem; }
  .storelocations .store-card__item {
    width: 100%; } }

.location-detail .container {
  padding-top: 96px;
  padding-bottom: 80px; }

.location-detail__title {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 32px;
  padding-left: 16px;
  border-left: 8px solid #9f1213; }

.location-detail__options {
  font-size: 1.5rem;
  line-height: 36px;
  font-weight: 400;
  margin-right: 16px; }

.location-detail__selection {
  width: 304px;
  height: 38px;
  border: 1px solid #ced4da;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  margin-bottom: 40px; }

.location-detail .location-box {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .location-detail .location-box .location-card {
    width: 39%; }
    .location-detail .location-box .location-card__banner {
      background-image: url(../images/store-1.png);
      height: 224px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .location-detail .location-box .location-card__title {
      font-size: 1.5rem;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 24px;
      border: 1px solid #00000020; }
    .location-detail .location-box .location-card__cardbody {
      padding-top: 16px;
      padding-bottom: 16px;
      padding-left: 16px;
      border: 1px solid #00000020;
      font-size: 20px; }
      .location-detail .location-box .location-card__cardbody .material-symbols-outlined {
        font-size: 18px;
        margin-right: 11px; }
  .location-detail .location-box .location-map {
    width: 59%;
    height: 414px; }

@media (max-width: 992px) {
  .location-detail .location-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .location-detail .location-box .location-card {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      gap: 24px;
      margin-bottom: 24px; }
      .location-detail .location-box .location-card-picblock {
        width: 48%; }
      .location-detail .location-box .location-card-text {
        width: 48%; }
      .location-detail .location-box .location-card__cardbody {
        padding-top: 32px;
        padding-bottom: 32px; }
    .location-detail .location-box .location-map {
      width: 100%; } }

@media (max-width: 992px) and (max-width: 835px) {
  .location-detail .location-box .location-card__cardbody {
    padding-top: 17px;
    padding-bottom: 17px; } }

@media (max-width: 992px) and (max-width: 767px) {
  .location-detail .container {
    padding-top: 80px;
    padding-bottom: 80px; }
  .location-detail .location-box .location-card-picblock {
    width: 100%; }
  .location-detail .location-box .location-card-text {
    width: 100%; }
  .location-detail .location-box .location-card__cardbody {
    padding-top: 16px;
    padding-bottom: 16px; }
  .location-detail .location-box .location-map {
    width: 100%; } }

@media (max-width: 992px) and (max-width: 576px) {
  .location-detail__selection {
    width: 50%; }
  .location-detail .container {
    padding-top: 40px;
    padding-bottom: 64px; } }

/*# sourceMappingURL=all.css.map */
