@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;500;700&display=swap");
/*放入所有變數相關的設定*/
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px; }
  @media (max-width: 992px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 767px) {
    .container {
      max-width: 372px; } }

.header .navbar-link:hover, .footer .contacts-area .menu-lists .menu-link:hover, .footer .hotline-lists .contacts-link:hover, .footer .media-lists .media-link:hover, .footer .copyright-area .policy .policy-link:hover, .banner .ad-area .buy-link:hover, .response .btn:hover {
  background: #fe4c46;
  border-radius: 30%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*-----全域設定-----*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

a {
  display: block;
  text-decoration: none; }

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px; }

body {
  font-family: "Noto Sans TC", sans-serif, "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #000; }

/*------文字置中設定-----*/
.text-center {
  text-align: center; }

.text-r {
  text-align: right; }

/*------文字大小 與行高 設定-----*/
h1,
.h1 {
  font-size: 4rem; }

h2,
.h2 {
  font-size: 3rem; }

h3,
.h3 {
  font-size: 2.25rem; }

h4,
.h4 {
  font-size: 1.5rem; }

h5,
.h5 {
  font-size: 1.25rem; }

.text-sm {
  font-size: 0.875rem; }

/*-----flex通用設定-----*/
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.jc-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.jc-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.jc-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.ai-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.ai-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

/*-------其他通用設定-----------*/
/*----------
***************
header 區塊設定 可以在另外寫：hide-text + :hover狀態 >>mixin
***************
------------*/
.header {
  background-color: #aa0601; }
  .header .nav {
    padding-top: 15.575px;
    padding-bottom: 15.575px; }
    .header .nav .logo {
      width: 80px;
      height: 48.57px;
      background: url(../images/logo-white.png) no-repeat;
      background-size: cover;
      text-indent: 101%;
      white-space: nowrap;
      overflow: hidden; }
  .header .navbar {
    gap: 64px; }
    .header .navbar-link {
      font-size: 1.25rem;
      line-height: 1.5;
      color: #fff; }
  @media (max-width: 767px) {
    .header .nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-bottom: 0; }
      .header .nav .logo {
        max-width: 100%;
        margin-bottom: 15.715px; }
    .header .navbar {
      gap: 0px;
      width: 100%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .header .navbar-list {
        margin: 0;
        width: 50%;
        border: 1px solid #fff; }
      .header .navbar-link {
        display: block;
        font-size: 1rem;
        line-height: 1.5; }
        .header .navbar-link:hover {
          background: #fe4c46;
          border-radius: 30%;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; } }

/*----------
***************
footer 區塊設定
***************
------------*/
.footer {
  background: #aa0601; }
  .footer .contacts-area {
    padding-top: 60.02px; }
    .footer .contacts-area .menu-lists {
      gap: 3rem; }
      .footer .contacts-area .menu-lists .menu-link {
        font-family: "Noto Sans TC", sans-serif;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5;
        color: #fff;
        padding: 0.25rem 0; }
  .footer .hotline-lists {
    padding-top: 35.98px; }
    .footer .hotline-lists .contacts-link {
      color: #fff;
      font-size: 2.25rem;
      line-height: 1.5; }
      .footer .hotline-lists .contacts-link .material-symbols-outlined {
        font-size: 36px;
        margin-right: 22px; }
  .footer .media-lists {
    gap: 32px; }
    .footer .media-lists .media-link .media-logo {
      width: 48px;
      height: 48px; }
  .footer .copyright-area {
    margin-top: 31px;
    padding-top: 32px;
    padding-bottom: 32px;
    border-top: 1px solid #fff; }
    .footer .copyright-area .copyright-claim {
      color: #fff; }
    .footer .copyright-area .policy {
      gap: 3rem; }
      .footer .copyright-area .policy .policy-link {
        color: #fff;
        font-size: 0.875rem;
        line-height: 1.5; }
  @media (max-width: 992px) {
    .footer .contacts-area {
      padding-top: 56.02px; }
    .footer .hotline-lists {
      padding-top: 31.98px; }
    .footer .media-lists {
      gap: 16px; }
      .footer .media-lists .media-link .media-logo {
        width: 40px;
        height: 40px; } }
  @media (max-width: 767px) {
    .footer .contacts-area {
      padding-top: 24px; }
    .footer .menu-lists {
      display: none; }
    .footer .hotline-lists {
      padding-top: 0px; }
      .footer .hotline-lists .phone {
        margin-bottom: 8px; }
      .footer .hotline-lists .contacts-link {
        font-size: 1rem; }
        .footer .hotline-lists .contacts-link .material-symbols-outlined {
          font-size: 18px;
          margin-right: 11px; }
    .footer .media-lists {
      gap: 8px; }
      .footer .media-lists .media-link .media-logo {
        width: 24px;
        height: 24px; }
    .footer .copyright-area {
      margin-top: 23px;
      padding-top: 16px;
      padding-bottom: 24px; }
      .footer .copyright-area .copyright-claim {
        width: 100%;
        margin-bottom: 8px; }
      .footer .copyright-area .policy {
        gap: 8px; }
        .footer .copyright-area .policy .policy-list {
          width: 100%; }
          .footer .copyright-area .policy .policy-list .policy-link {
            font-size: 1rem; } }

/*----------
***************
banner 區塊設定
***************
------------*/
.banner {
  max-width: 100%;
  height: 787px;
  background: url(../images/home-header.png) no-repeat;
  background-position: center center;
  background-size: cover; }
  .banner .container {
    height: 100%; }
  .banner .ad-area {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 2.25rem;
    color: #650300; }
    .banner .ad-area .title {
      font-size: 4rem;
      font-weight: bold; }
    .banner .ad-area .buy-link {
      display: inline-block;
      font-size: 1.25rem;
      background-color: #aa0601;
      color: #fff;
      padding: 6px 12px;
      margin-top: 4px; }
  @media (max-width: 992px) {
    .banner {
      background: url(../images/home-header-sm.png) no-repeat;
      background-size: cover; } }
  @media (max-width: 767px) {
    .banner .ad-area {
      font-size: 1rem; }
      .banner .ad-area .title {
        font-size: 1.5rem; } }

/*----------
***************
section feature 區塊區塊設定 
須在重構一下icon的大小
***************
------------*/
.feature {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #650300;
  background: #fbf2f2; }
  .feature .container {
    padding-top: 80px;
    padding-bottom: 80px; }
  .feature .feature-title {
    font-size: 3rem;
    margin-bottom: 32.08px; }
  .feature .feature-lists {
    width: 100%;
    gap: 24px; }
  .feature .feature-item {
    width: 25%; }
  .feature .item-img {
    width: 83.83px;
    height: 83.83px;
    margin-bottom: 24.33px; }
  .feature .item-icon {
    margin-bottom: 8px; }
  .feature .item-title {
    font-size: 1.5rem; }
  .feature .item-text {
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    text-align: left; }
  @media (max-width: 992px) {
    .feature .feature-lists {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .feature .feature-item {
      width: 47%; } }
  @media (max-width: 767px) {
    .feature .container {
      padding-top: 40px;
      padding-bottom: 40px; }
    .feature .feature-title {
      font-size: 1.5rem; }
    .feature .feature-lists {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

/*----------
***************
section classic 區塊設定 
***************
------------*/
.classic-title {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #650300;
  margin-bottom: 48px; }

.classic-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px; }
  .classic-lists .list-icon {
    width: 416px;
    height: 416px;
    margin-bottom: 8px; }
  .classic-lists .list-name {
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    font-weight: 900;
    font-style: italic;
    color: #aa0601;
    text-align: center; }

.classic .container {
  padding-top: 80px;
  padding-bottom: 80px; }

@media (max-width: 992px) {
  .classic .list-icon {
    width: 336px;
    height: 336px; } }

@media (max-width: 767px) {
  .classic-title {
    font-size: 1.5rem;
    margin-bottom: 24px; }
  .classic .list-icon {
    width: 348px;
    height: 348px; }
  .classic .container {
    padding-top: 40px;
    padding-bottom: 40px; } }

/*----------
***************
 section--union 區塊區塊設定 
***************b
------------*/
.union {
  background: url(../images/index-bg.png) no-repeat;
  background-position: center center;
  background-size: cover; }
  .union-title {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
    color: #fff;
    margin-bottom: 48px; }
  .union-lists .union-img {
    width: 648px;
    height: 240px; }
  .union-lists .union-img-sm {
    display: none;
    width: 348px;
    height: 240px; }
  .union-lists .list-name {
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
    font-style: italic;
    color: #aa0601;
    text-align: center;
    background-color: #fff;
    padding-top: 8px;
    padding-bottom: 8px; }
  .union .container {
    padding-top: 80px;
    padding-bottom: 80px; }
  @media (max-width: 992px) {
    .union {
      background: url(../images/index-bg-sm.png) no-repeat;
      background-position: left top; }
      .union-lists {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        gap: 24px;
        width: 100%; }
        .union-lists-item {
          width: 50%; }
        .union-lists .union-img {
          width: 696px; } }
  @media (max-width: 767px) {
    .union {
      background: url(../images/index-bg-md.png) no-repeat; }
      .union-title {
        font-size: 1.5rem;
        margin-bottom: 24px; }
      .union-lists .union-img {
        display: none; }
      .union-lists .union-img-sm {
        display: inline-block; }
      .union .container {
        padding-top: 40px;
        padding-bottom: 40px; } }

/*----------
***************
 section--review  區塊區塊設定 
***************b
------------*/
.review-title {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 3rem;
  color: #650300;
  font-weight: bold;
  margin-bottom: 48px; }

.review-lists {
  gap: 24px; }
  .review-lists_item {
    width: 25%;
    border-radius: 4px; }
  .review-lists-img {
    -o-object-fit: cover;
       object-fit: cover; }

.review-content {
  -webkit-box-shadow: 0px 2px 6px #00000029;
          box-shadow: 0px 2px 6px #00000029;
  padding: 16px; }
  .review-content span {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 8px; }
  .review-content p {
    font-weight: 400;
    padding-bottom: 72px; }
  .review-content small {
    font-size: 14px;
    color: #707070; }

.review .container {
  padding-top: 80px;
  padding-bottom: 80px; }

@media (max-width: 992px) {
  .review-lists {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .review-lists_item {
      width: 48%; } }

@media (max-width: 767px) {
  .review-title {
    font-size: 1.5rem;
    margin-bottom: 24px; }
  .review-lists {
    gap: 16px; }
    .review-lists_item {
      width: 96%; }
  .review .container {
    padding-top: 40px;
    padding-bottom: 40px; } }

/*----------
***************
 section--response  區塊區塊設定 
***************
------------*/
.response {
  background-color: #fbf2f2; }
  .response-title {
    font-size: 3rem;
    font-weight: bold;
    color: #650300;
    margin-bottom: 48px; }
  .response-form {
    max-width: 636px;
    margin: 0 auto; }
  .response-description {
    font-size: 1rem;
    margin-bottom: 24px; }
  .response .input-box {
    margin-bottom: 16px; }
    .response .input-box .form-control {
      display: block;
      width: 100%;
      height: 36px;
      margin-top: 8px;
      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 12px; }
  .response .message-textarea {
    margin-bottom: 16px; }
    .response .message-textarea .form-control {
      resize: none;
      height: 136px; }
  .response .agree-box {
    margin-bottom: 48px; }
    .response .agree-box .agree-text {
      width: 24px;
      height: 24px;
      margin-right: 4px;
      border: 2px solid #000; }
  .response .btn {
    font-size: 1rem;
    line-height: 24px;
    font-weight: 900;
    color: #fff;
    background-color: #aa0601;
    padding: 14px 174px; }
    .response .btn:active {
      background-color: #921e5c; }
  .response .container {
    padding-top: 80px;
    padding-bottom: 80px; }
  @media (max-width: 992px) {
    .response-title {
      margin-bottom: 24px; }
    .response-form {
      max-width: 576px; } }

@media (max-width: 992px) and (max-width: 767px) {
  .response-title {
    font-size: 1.5rem; }
  .response-form {
    min-width: 348px; }
  .response .agree-box {
    margin-bottom: 24px; }
  .response .btn {
    width: 100%; }
  .response .container {
    padding-top: 40px;
    padding-bottom: 40px; } }

.pure-form {
  background-color: pink; }

/*# sourceMappingURL=all.css.map */
